
@{
    ViewBag.Title = "Contactos";
}

<h2>Contactos</h2>			

<p>Nome do site</p>
<br />
<p>Morada de alguma rua, nº20</p>
<p>codigo postal.</p>
<p>Tel: +351 912 912 912</p>
<p>Email: email@email.com</p>
   

