
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div align="center">
    <img src="/Content/Images/programming-books-stock_1020-1024x576.jpg" width="70%">
    <br/>
    <br/>
    <p>
        Lorem ipsum dolor sit amet, erat fabulas quaestio quo at. Essent albucius offendit cum ne, an debet torquatos mea. Paulo ocurreret theophrastus no nec. No wisi invidunt repudiare pri, senserit definitiones at ius. Usu ne saepe audire honestatis, graeco feugiat at vix. Liber civibus facilisis et pri, suas mentitum maiestatis id vim.
        Per no prima voluptaria. Ut per fugit convenire consetetur, et ceteros pericula sea. Atqui simul te nec, ut his liber fabellas accommodare, per affert euripidis splendide id. Nec eros option id. Ei commodo quaeque accommodare vis. Ius appetere percipitur in.
        Audire adolescens per in, pri tritani ancillae scaevola ex. Regione lucilius mel ei. Eruditi singulis pertinacia sed at. Cum in quas mentitum sadipscing, id novum nullam probatus his, qui at tota dolor praesent. His unum fastidii ex, sint repudiare no mel, vim at magna posse invenire.
        His ne nemore inimicus. Cu eam delenit deleniti corrumpit. Cu error appetere vix, quis iuvaret complectitur at duo. Te esse expetendis eum, eum ne agam clita offendit, an ipsum appetere vis. Velit pericula intellegat sit ad.
        Vis no delenit euripidis voluptatum. Ridens aeterno at ius. Ipsum argumentum conclusionemque pro no, hinc accusamus eu mei. Has mucius reformidans ex, utinam electram ius no, eu adhuc maluisset mei. Placerat volutpat partiendo in eum, vel ne utinam laudem diceret, in usu nullam accusam appetere.
    </p>
</div>



