
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<div align="center">
    <ul class="products">
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430210078-3d.png" width="40%">
                <h5>Livro Pro ASP.NET Framework</h5>
                <p>20.00€</p>
            </a>
        </li>
        <li style="list-style-type: none; float:left;">
            <a href="#">
                <img src="/Content/Images/A9781430265290-3d.png" width="40%">
                <h5>Livro Pro ASP.NET MVC 5</h5>
                <p>25.00€</p>
            </a>
        </li>
    </ul>
</div>
<div style="clear:both;"></div>

